{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <style>
        body{
            background-color: cyan;
        }
            

    </style>
</head>
<body>
    <center>
        <h1 class="btn btn-primary">MDB-5</h1>
        <div>
            <div>
                <img src="{% static 'images/pic6.jpg' %}" alt="no image" srcset="">
                <img src="{% static 'images/pic7.jpg' %}" alt="no image" srcset="">
                <img src="{% static 'images/pic8.jpg' %}" alt="no image" srcset="">
            </div>
           

        </div>
        
    </center>




    <script src="{% static 'js/mdb.es.min.js' %}"></script>
</body>
</html>